# Игнорируем файлы базы данных (например, для SQLite)
*.sqlite3
db.sqlite3

# Папки с миграциями
__pycache__/
*.pyc
*.pyo
.env

# Папки виртуального окружения
venv/
.venv/

# Другие временные файлы
*.log
*.pot
*.pyc
*.pyo
